*{
    margin: 0;
    padding: 0;
}
main, header{
    margin: 5vh 10vw;
}
header{
    display: flex;
    justify-content: space-between;
}
#cart-button{
    background: none;
    border: none;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

#cart{
    position: relative;
}
#cart-button img{
    max-width: 32px;
    max-height: 32px;
}

#products-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.product-photo{
    max-width: 100px;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}
.product{
    background-color: rgba(60, 109, 174, 0.4);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 10px;
}

button:hover{
    background-color: orange;
}

#cart-button:hover{
    background-color: orange;
}
#cart-products{
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: white;
    top: 59px;
    right: 0rem;
    left: -16rem;
    position: absolute;
    padding: 10px;
    text-align: left;
}
#cart-products::before{
    content: '';
    border: transparent solid 16px;
    border-bottom: solid black 16px;
    position: relative;
    top: -2.7rem;
    left: 15.8rem;
    z-index: -1;
}
.hide{
    display: none;
}

.img{
    max-height: 50px;
    max-width: 50px;
}

.text{
    display: flex;
    font-weight: bold;
}
.buy{
    padding: 4px;
    background-color: blue;
    color: white;
}
.total{
    font-weight: bold;
    font-size: 20px;
    color: rgb(75, 234, 75);
}